extends ../layout

block content
    h1= title
    p OK, #{handinfo.playercount} players at the table.
    p Blinds: #{handinfo.smallblind} / #{handinfo.bigblind} / #{handinfo.ante}
    p Now set the player details
    form(action="/new_hand/3", method="POST")
        input(type="hidden", name="handinfo[playercount]", value=handinfo.playercount)
        input(type="hidden", name="handinfo[smallblind]", value=handinfo.smallblind)
        input(type="hidden", name="handinfo[bigblind]", value=handinfo.bigblind)
        input(type="hidden", name="handinfo[ante]", value=handinfo.ante)
        table
            thead
                tr
                    td Name?
                    td Stack?
                    td Button?
                    td Hero?
            tbody
                - handinfo.buttonpos = handinfo.buttonpos || 1
                - handinfo.heropos = handinfo.heropos || 1
                - var count = Number.parseInt(handinfo.playercount, 10);
                - var i = 0;
                while i < count
                    tr
                        td
                            input(type="text", name="handinfo[players][" + i + "][name]", value=handinfo.players[i].name)
                        td
                            input(type="text", name="handinfo[players][" + i + "][stack]", value=handinfo.players[i].stack)
                        td
                            input(type="radio", name="handinfo[buttonpos]", value=(i + 1), checked=handinfo.buttonpos == (i + 1))
                        td
                            input(type="radio", name="handinfo[heropos]", value=(i + 1), checked=handinfo.heropos == (i + 1))
                    - i++
        input(type="submit", value="Submit")
